.video_post .inner a .screencast img {
	height: 160px;
}

.video_post {
	height: 320px;
}

#header-search {
	color: white;
}

.starring .star img {
	height: 32px;
}

.series .series-inner img {
	width: 100%;
}

.starring .star a {
	color: black;
}

dd {
	margin-bottom: 10px;
}

.label-as-badge {
    border-radius: 1em;
    margin-left:3px;
}

.widget.widget_recommended_to_follow .media .media-body .btn-group a {
	padding: 0 18px;
}

.widget.w_in_footer.widget_about a {
	margin-bottom: inherit;
}

#starpicker {
	width: 100%;
	height: 400px;
}